.profile__AddButton-mobile {
  display: none;
  cursor: pointer;
}

.profile__AddButton-mobile:hover {
  opacity: 0.8;
}

@media screen and (max-width: 898px) {
  .profile__AddButton-mobile {
    display: block;
    margin-top: 32px;
  }
}
