.profile__AddButton {
 /* border: 2px solid #FFFFFF; */
  width: 150px;
  height: 50px;
  border-radius: 2px;
  box-sizing: border-box;
}

@media screen and (max-width: 898px) {
  .profile__AddButton {
    display: none;
  }
}
