.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content max-content;
  row-gap: 10px;
  align-items: center;
}

@media screen and (max-width: 898px) {
  .profile__info {
    margin-left: 0px;
    margin-top: 26px;
    row-gap: 8px;
  }
}
