.element__like {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  background: url('../../../images/Love.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
}

.element__like:active {
  outline: none;
}

.element__like:focus {
  outline: none;
}

.element__like:hover {
  opacity: 0.8;
}
